body {
    background-color: white;
}

#container-blue {
    background-color: hsl(212, 45%, 89%);
    width: 90%;
    margin: auto;
    padding: 10px;
}

#container-white {
    background-color: white;

    border-radius: 5px;
    width: 20%;
    margin: auto;
    text-align: center;
}

h1 {
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    font-size: 15px;
}

p {
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    font-size: 15px;
}

image {
    width: 5px;
}